<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('bundles/tssearch/css/bootstrap.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('bundles/tssearch/css/themes/default/style.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/tssearch/css/main.css') }}">

</head>

    <body role="document">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">

                        {% include 'TsSearchBundle:Search:searchform.html.twig' with {'url': url} only %}

                    </div>
                </div>
            </div>
        </div>

        <div class="container searchresults" role="main">
            <div class="row">
                <div class="col-sm-9">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>Gefundene Webseiten: {{ numFound }}</h2>
                        </div>
                    </div>
                </div>
            </div>

            {% for document in documents %}
                <div class="row">
                    <div class="col-sm-9">

                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-file"></span>Report: {{ document.url }}</h3>
                            </div>
                            <div class="panel-body data-root" data-url="{{ document.url }}">
                                <p>Eingehende Linkstruktur ({{ document.incominglinkurls_sm|length }})</p>
                                <div class="row">
                                    <div id="linkgraph" class="col-sm-6">
                                        <canvas class="graphviewport" width="400" height="450"></canvas>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-5"></div>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input type="text" id="linksearch" />
                                                    <span class="input-group-btn">
                                                        <button class="btn-sm btn-default" type="submit">
                                                            <span class="glyphicon glyphicon-filter"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="linktree">
                                            <ul class="list-group">
                                                {% for domain in document.incominglinkdomains|sort %}
                                                    <li class="list-group-item">
                                                        {{ domain.domainname }} ({{ domain.links.count }})<span class="link-domain-node" data-link-domain="{{ domain.domainname }}" data-weight="{{ domain.links.count }}">&nbsp;</span>
                                                        <ul class="list-group">
                                                            {% for link in domain.links %}
                                                                <li class="list-group-item">
                                                                    <a href="{{ path('ts_search_deeplink', {'url': link.url|url_encode }) }}">{{ link.url }}</a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="expando" data-collapse="persist">
                                    <p>Eingehende Linktexte: {{ document.incominglinktexts|length }}</p>

                                    <div>
                                        <ul class="list-group">
                                            {% for linktext in document.incominglinktexts %}
                                                <li class="list-group-item">{{ linktext.linktext }} ({{ linktext.count }})</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />

                   </div>
                </div>
            {% endfor %}
        </div>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="{{ asset('bundles/tssearch/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/tssearch/js/docs.min.js') }}"></script>
        <script src="{{ asset('bundles/tssearch/js/arbor.js') }}"></script>
        <script src="{{ asset('bundles/tssearch/js/arbor-tween.js') }}"></script>
        <script src="{{ asset('bundles/tssearch/js/jstree/jstree.js') }}"></script>

        <script src="{{ asset('bundles/tssearch/js/main.js') }}"></script>


    </body>
</html>